.row
  .col-5.text-center
    = image_tag 'https://placehold.jp/200x150.png'
  .col-7
    株式会社ALTEGRA
    %br
    CORPORATE SITE

.row
  .col-12
    .row
      .col-5
      .col-7
        BUSINESS
        COMPANY
        INFOGRAPHIC
    .row
      .col-5.text-center
        プライバシーポリシー
      .col-7
        RECRUIT
        NEWS
        CONTACT
    .row
      .col-5.text-center
        反社会的勢力に関する方針
      .col-7
    .row
      .col-5.text-center
        © ALTEGRA. All Rights Reserved.
      .col-7
