.mb-0.jumbotron.jumbotron-fluid
  .container
    .row
      .col-2
      .col-7.color-white
        CREATE NEW VALUE
    .row
      .col-2
      .col-7.color-red
        IN THE WORLD.
    .row
      .col-2
      .col-10.philosophy.color-white.text-right
        世界に新しい価値を創造する
